<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:data="http://www.w3.org/1999/xhtml">

<head>
	<title>Portfolio</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
	<body class="right-sidebar is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header" class="wrapper">

					<!-- Logo -->
						<div id="logo">
							<h1>Willie Mangram</h1>
							<p>San Diego Based Java Developer</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a th:href="@{/home}">Home</a></li>
								<li>
									<a href="#">Projects</a>
									<ul>
										<li><a href="http://www.williemangram.com:8080">Online Banking App</a></li>
										<li><a href="#">Magna veroeros</a></li>
										<li><a href="#">Etiam nisl</a></li>
										<li><a href="#">Nisl tempus</a></li>
									</ul>
								</li>
								<li><a th:href="@{/portfolio}">Portfolio</a></li>
								<li><a th:href="@{/technology}">Skills</a></li>
								<li><a th:href="@{/resume}">Resume</a></li>
							</ul>
						</nav>

				</section>


			<!-- Highlights -->
				<section id="highlights" class="wrapper style3">
					<div class="title">Skills</div>
					<div class="container" style="width: 85%;">
						<div class="row aln-center">
								<div class="row col-12-small">
									<div th:if="${userSkills.empty}">
										<div colspan="2"> No Skills Available </div>
									</div>

									<div th:each="userImage, iter : ${userImages}" class="skill-box">
										<img th:src="|data:image/jpg;base64,${userImage}|"  style="height: 80px;"/>
										<br><br>
										<span th:text="${userSkills[__${iter.index}__].techName}"></span>
									</div>
								</div>
						</div>
					</div>
				</section>

			<!-- Footer -->
			<section id="footer" class="wrapper">
				<div class="title">Contact</div>
				<div class="container">
					<header class="style1">
						<h2>Feel free to contact me</h2>
						<p>
							I promise to return your call or email if I happen to miss your initial contact.
						</p>
					</header>
					<div class="row">
						<div class="col-6 col-12-medium">

							<!-- Contact Form -->
							<section>
								<form method="post" th:action="@{/contact/send}" th:object="${email}" />
								<div class="row gtr-50">
									<div class="col-6 col-12-small">
										<input type="text" name="name" th:value="*{name}" id="name"
											   placeholder="Name" autocomplete="off" required="true"/>
									</div>
									<div class="col-6 col-12-small">
										<input type="text" name="from" th:value="*{from}" id="from"
											   placeholder="Email" autocomplete="off" required="true"/>
									</div>
									<div class="col-12">
                                    <textarea name="content" id="content" th:value="*{content}"
											  placeholder="Message" autocomplete="off" rows="4"></textarea>
									</div>
									<div class="col-12">
										<ul class="actions">
											<li><input type="submit" class="style1" value="Send" /></li>
											<li><input type="reset" class="style2" value="Reset" /></li>
										</ul>
									</div>
								</div>
								</form>
							</section>

						</div>
						<div class="col-6 col-12-medium">

							<!-- Contact -->
							<section class="feature-list small">
								<div class="row">
									<div class="col-6 col-12-small">
										<section>
											<h3 class="icon fa-home">Mailing Address</h3>
											<p>
												1952 Southwind Circle<br />
												Pensacola, FL 32506<br />
											</p>
										</section>
									</div>
									<div class="col-6 col-12-small">
										<section>
											<h3 class="icon fa-comment">Social</h3>
											<p>
												<a href="http://github.com/williem3">github.com/williem3</a><br/>
												<a href="http://linkedin.com/in/wmangram3">linkedin.com/in/wmangram3</a><br/>
											</p>
										</section>
									</div>
									<div class="col-6 col-12-small">
										<section>
											<h3 class="icon fa-envelope">Email</h3>
											<p>
												<a href="mailto: dev.wmangram@gmail.com">dev.wmangram@gmail.com</a>
											</p>
										</section>
									</div>
									<div class="col-6 col-12-small">
										<section>
											<h3 class="icon fa-phone">Phone</h3>
											<p>
												(850) 208-5624
											</p>
										</section>
									</div>
								</div>
							</section>

						</div>
					</div>
					<div id="copyright">
						<ul>
							<li>Willie Mangram</li><li>Template: <a href="http://html5up.net">HTML5 UP</a> | Edited by: Willie Mangram</li>
						</ul>
					</div>
				</div>
			</section>

		</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>
	</body>
</html>
